@model PayrollSoft.Models.PersonnelPayslip

@{
    ViewBag.Title = "main report page :::";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxgrid.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxgrid.sort.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxgrid.pager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxgrid.selection.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxgrid.edit.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxdata.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jscript-app-globals.js")"></script>
<script src="@Url.Content("~/Scripts/jquery_lib/implement-ui-widget-1.0.js")" type="text/javascript"></script>
<script type="text/javascript">

var __eventBucket = (function(){
      
     function ModifyBy(){
        return true;
     }

     return {
         getDemographics: function(){

              __retrieveDemographics();
         },
         getEarnings: function(){

            _retrieveEarningsPayslipData();
         },
         getDeductions: function(){

           _retrieveDeductionsPayslipData();
         }
       };
});

function searchPayslip(searchparam){
    
  __loadReportListGrid(__payslipReportListDataAdapter(searchparam));

  __retrieveDemographics();

  _retrieveEarningsPayslipData(searchparam);
  
  _retrieveDeductionsPayslipData(searchparam);
  
}

function __filterPayslipReports(val){
     
          $.ajax({
              cache: false,
              datatype: "jsonp",
              url:"/Payroll/GetEmployeeOnPayrollList",
              type: 'POST',
              data: {prefix: val.trim()},
              success: function (data){

                for(var x = 0; x < data.length; x ++){

                     var item = payslipreportList.find(x => x.EmpID === data[x].EmpID);
                     if(item != undefined){
                       payslipreportList.push({EmpName: data[x].EmpName,
                                             DeptName: data[x].DeptName,
                                                EmpID: data[x].EmpID,
                                                 DATE: data[x].DATE,
                                             JobTitle: data[x].JobTitle});

                          __loadReportListGrid(__buildDataSource(payslipreportList));
                        }
                   }                   

              },
              error: function(jqXHR, textStatus, errorThrown){
                       console.log("Error, " + errorThrown);
              }
         });
}

/*function __filterPayslipReports(val){

  if(val.length != 0){
    var results = payslipreportList.find(x => x.EmpName == val.trim());
    console.log(results);
    //__loadReportListGrid(__buildDataSource(results));
  } 
}*/

function __buildDataSource(){

  console.log(payslipreportList.length);

            var datasource = {
                          datatype:'json',
                          datafields: [{name: 'EmpName', type: 'string'},
                                      {name: 'DeptName', type: 'string'},
                                      {name: 'EmpID', type: 'string'},
                                      {name: 'DATE', type: 'date'},
                                      {name: 'JobTitle', type: 'string'}],
                         id: 'EmpID',
                         url: '/Report/RetrievePayslips'
               };

           return new $.jqx.dataAdapter(datasource,
                { 
                  formatData: function(data){
                    data.name_startsWith = document.getElementById('searchval').value;
                    return data;
                  }
                }
            );
}

function __LoadReportData(){

          $.ajax({
                cache: false,
                datatype: "jsonp",
                url:"/Report/RetrievePayslipList",
                type: 'POST',
                data: {__date: CurrentDate(), empId: 'BHT01'},
                success: function(data){
                    for(var r = 0; r < data.length; r ++){

                      payslipreportList.push({EmpName: data[r].EmpID,
                                             DeptName: data[r].DeptName,
                                             JobTitle: data[r].JobTitle,
                                                EmpID: data[r].EmpID,
                                                 DATE: data[r].DATE });
                    }

                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log("Error, " + errorThrown);
                }
             });
}

function __loadReportListGrid(dataAdapter){

     $("#grid-content").jqxGrid({
        width: '99.5%',
        source: dataAdapter,
        theme: theme,
        pageable: true,
        autoheight: true,
        sortable: true,
        selectionmode: 'singlerow',
        columns: [{text: 'Id',datafield:'EmpID',width: '8.8%'},
                  {text: 'Name',datafield:'EmpName',width: '16.6%'},
                  {text: 'Designation', datafield: 'JobTitle', width: '25.5%'},
                  {text: 'Department',datafield:'DeptName',width: '20%'},
                  {text: 'Period', datafield: 'DATE', width: '24%'},
                  {text:  '', datafield: 'View', width: '7.77%', columntype: 'button', cellsrenderer: function(){
                               return 'View';
                  }, buttonclick: function(row){

                                editrow = row;
                                var dataRecord = $("#grid-content").jqxGrid('getrowdata', editrow);
                                __loadPersonnelPayslipReports(dataRecord.EmpID);
                      }
                  }]
      });

     $('#grid-content').jqxGrid('updatebounddata');
}

function __loadPersonnelPayslipReports(id){
  
     if(payslipreportEarningsDataSource.length > 0){
         _generateReport(id.trim());
        
     } else {
        //_retrieveEarningsPayslipData();
        //_retrieveDeductionsPayslipData();
     }
      
}

function __payslipReportList(personnelId){
      

        $.ajax({
                cache: false,
                datatype: "jsonp",
                url:"/Report/RetrievePayslipList",
                type: 'POST',
                data: {__date: CurrentDate(), empId: personnelId},
                success: function(data){

                    var table_element = '<table  id="mytable" class= "table">';
                        table_element += '<tr><td>Employment No.</td><td>Name</td><td>Department</td><td>Period</td></tr>';

                    for(var x = 0; x < data.length; x ++){

                         table_element += '<tr class="success"><td>'+ data[x].EmpID +'   '+'</td><td id="myid">' + data[x].EmpName + '</td><td>'+ data[x].DeptName + '</td><td>' + _parseJsonDate(data[x].DATE) + '</td><td><button class="btn btn-success" onclick="__loadPersonnelPayslipReports((this.parentNode.parentNode.innerHTML).substr(4,9));"><span class="glyphicon glyphicon-open-eye"></span>View</button></td></tr>';

                     }

                    table_element += '</table>';
                    document.getElementById("grid-content").innerHTML = table_element;

                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log("Error, " + errorThrown);
                }

              });
}

function __payslipReportListDataAdapter(date){

        var datasource = {
                         datatype:'json',
                         datafields: [{name: 'EmpName', type: 'string'},
                                      {name: 'DeptName', type: 'string'},
                                      {name: 'EmpID', type: 'string'},
                                      {name: 'DATE', type: 'date'},
                                      {name: 'JobTitle', type: 'string'}],
                         id: 'EmpID',
                         url: '/Report/RetrievePayslips/',
                         data: {__date: date}
               };

       return new $.jqx.dataAdapter(datasource);
    
}

$(document).ready(function(){
     
   var __date = CurrentDate();

   __retrieveDemographics();
   _retrieveEarningsPayslipData(__date);
   _retrieveDeductionsPayslipData(__date);

   __loadReportListGrid(__payslipReportListDataAdapter(__date));


});

</script>

@Html.Partial("_report")



