@model IEnumerable<PayrollSoft.Models.EmployeeGrade>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxtabs.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxcheckbox.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxlistbox.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxdropdownlist.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxtabs.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxgrid.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxgrid.sort.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxgrid.pager.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxgrid.selection.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxgrid.edit.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxdata.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxnumberinput.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jqwidgets/jqxinput.js")"></script>
<script type="text/javascript">

  /*  function _createFormElements(title, theme, dataAdapter) {

        $('#window').jqxWindow({
            theme: theme,
            resizable: true,
            width: 750,
            height: 470,
            minWidth: 430,
            minHeight: 300,
            title: title,
            initContent: function () {


                $("#jqxgrid").jqxGrid({
                    width: 740,
                    source: dataAdapter,
                    theme: theme,
                    pageable: true,
                    autoheight: true,
                    sortable: true,
                    selectionmode: 'none',
                    columns: [
                                       { text: 'Description', datafield: 'GradeName', width: 80 },
                                       { text: 'Salary', datafield: 'MinSalary', width: 100 },
                                       { text: 'Grade ID', datafield: 'GradeId', width: 80 },
                                       { text: 'Allowance Ref Num', datafield: 'AllowanceRefNum', width: 80 },
                                       { text: 'Insurance Code', datafield: 'InsuranceCode', width: 80 },
                                       { text: 'Pension Ref Num', datafield: 'PensionRefNum', width: 80 },
                                       { text: 'Overtime Rate', datafield: 'OvertimeRate', width: 80 },
                                       { text: 'Taxa Threshold', datafield: 'ThresholdID', width: 80 },
                                       { text: 'Action', datafield: 'Delete', columntype: 'button', cellsrenderer: function () {
                                           return "Delete";
                                       }, buttonclick: function (row) {

                                           editrow = row;
                                           var offset = $("#jqxgrid").offset();
                                           $("#popupwindow").jqxWindow({ position: { x: parseInt(offset.left) + 60, y: parseInt(offset.top) + 60} });
                                           var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
                                           $("#gradeId").val(dataRecord.GradeId);
                                           $("#salary").val(dataRecord.MinSalary);
                                           $("#descript").val(dataRecord.GradeName);
                                           var title = 'Confirm Delete';
                                           //show the popup Window
                                           _popupWin(theme, title);
                                       }
                                       },
                                       { text: 'Action', datafield: 'Edit', columntype: 'button', cellsrenderer: function () {
                                           return 'Edit';
                                       }, buttonclick: function (row) {

                                           editrow = row;
                                           var offset = $("#jqxgrid").offset();
                                           $("#popupwindowEdit").jqxWindow({ position: { x: parseInt(offset.left) + 60, y: parseInt(offset.top) + 60} });
                                           var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
                                           $("#gradeIdedit").val(dataRecord.GradeId);
                                           $("#salaryedit").val(dataRecord.MinSalary);
                                           $("#descriptedit").val(dataRecord.GradeName);
                                           $("#overtimeRate").val(dataRecord.OvertimeRate);
                                           $("#allowanceCode").val(dataRecord.AllowanceRefNum);
                                           $("#insuranceCode").val(dataRecord.InsuranceCode);
                                           $("#pensionCode").val(dataRecord.PensionRefNum);
                                           $("#payeThreshold").val(dataRecord.ThresholdID);

                                           var title = 'Edit';
                                           //show the popup Window
                                           _popupWin(theme, title);

                                       }
                                       }
                            ]

                });
            }

        });

         $('#window').jqxWindow('focus');
     }*/

     function _loadGrid(dataAdapter) {

         $("#jqxgrid").jqxGrid({
             width: 940,
             source: dataAdapter,
             theme: theme,
             pageable: true,
             autoheight: true,
             sortable: true,
             selectionmode: 'none',
             columns: [
                                       { text: 'Description', datafield: 'GradeName', width: 100 },
                                       { text: 'Salary', datafield: 'MinSalary', width: 105 },
                                       { text: 'Grade ID', datafield: 'GradeId', width: 100 },
                                       { text: 'Allowance Ref Num', datafield: 'AllowanceRefNum', width: 105 },
                                       { text: 'Insurance Code', datafield: 'InsuranceCode', width: 105 },
                                       { text: 'Pension Ref Num', datafield: 'PensionRefNum', width: 105 },
                                       { text: 'Overtime Rate', datafield: 'OvertimeRate', width: 100 },
                                       { text: 'Taxa Threshold', datafield: 'ThresholdID', width: 105 },
                                       { text: 'Action', datafield: 'Delete', columntype: 'button', cellsrenderer: function () {
                                           return "Delete";
                                       }, buttonclick: function (row) {

                                           //Set the visibility of  POPUPWINDOWEDIT to visible
                                           document.getElementById("popupwindow").style.visibility = "visible";
                                           editrow = row;
                                           var offset = $("#jqxgrid").offset();
                                           $("#popupwindow").jqxWindow({ position: { x: parseInt(offset.left) + 60, y: parseInt(offset.top) + 60} });
                                           var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
                                           $("#gradeId").val(dataRecord.GradeId);
                                           $("#salary").val(dataRecord.MinSalary);
                                           $("#descript").val(dataRecord.GradeName);

                                           title = 'Confirm Delete';
                                           //show the popup Window
                                           _popupWin(theme, title);
                                       }
                                       },
                                       { text: 'Action', datafield: 'Edit', columntype: 'button', cellsrenderer: function () {
                                           return 'Edit';
                                       }, buttonclick: function (row) {

                                           //Set the visibility of  POPUPWINDOWEDIT to visible
                                           document.getElementById("popupwindowEdit").style.visibility = "visible";
                                           editrow = row;
                                           var offset = $("#jqxgrid").offset();
                                           $("#popupwindowEdit").jqxWindow({ position: { x: parseInt(offset.left) + 60, y: parseInt(offset.top) + 60} });
                                           var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
                                           $("#gradeIdedit").val(dataRecord.GradeId);
                                           $("#salaryedit").val(dataRecord.MinSalary);
                                           $("#descriptedit").val(dataRecord.GradeName);
                                           $("#overtimeRate").val(dataRecord.OvertimeRate);
                                           $("#allowanceCode").val(dataRecord.AllowanceRefNum);
                                           $("#insuranceCode").val(dataRecord.InsuranceCode);
                                           $("#pensionCode").val(dataRecord.PensionRefNum);
                                           $("#payeThreshold").val(dataRecord.ThresholdID);

                                           title = 'Edit';
                                           //show the popup Window
                                           _popupWin(theme, title);

                                       }
                                       }
                            ]

         });
     
     }

     function _popupWin(theme, title) {

         if (title == "Confirm Delete") {

             $("#popupwindow").jqxWindow({
                 theme: theme,
                 resizable: false,
                 width: 260,
                 isModal: true,
                 autoOpen: false,
                 title: title,
                 okButton: $("#Delete"),
                 cancelButton: $("#Cancel"),
                 modalOpacity: 0.01

             });


         } else {

             $("#popupwindowEdit").jqxWindow({
                 theme: theme,
                 resizable: false,
                 width: 300,
                 isModal: true,
                 autoOpen: false,
                 title: title,
                 okButton: $("#OKEdit"),
                 cancelButton: $("#CancelEdit"),
                 modalOpacity: 0.01

             });
         
         
         }
   

         $("#popupwindowEdit").jqxWindow('open');

     }

     function _deleteRecord(rowid) {

         //alert("Delete record?");
         $.ajax({
             cache: false,
             datatype: "jsonp",
             url: "/EmployeeGrade/Delete/" + rowid,
             type: "POST",
             success: function (data, status, xhr) {
                 //alert(status);
                 _notificationMessage("success", "Record Saved Successfully!"); //Notify the user
                 $("#jqxgrid").jqxGrid('updatebounddata');
             },
             error: function (jqXHR, textStatus, errorThrown) {
                 alert(errorThrown);
                 //commit(false);
             }

         });

     }


     $(document).ready(function () {

         var theme = getDemoTheme();
         var controller = "EmployeeGrade";
         var title = 'Listings';
         var url = '/EmployeeGrade/GetGrades';
         var editrow = -1;
         var source = {
             datatype: "json",
             datafields: [
                                    { name: 'GradeId', type: 'string' },
                                    { name: 'GradeName', type: 'string' },
                                    { name: 'MinSalary', type: 'decimal' },
                                    { name: 'AllowanceRefNum', type: 'string' },
                                    { name: 'InsuranceCode', type: 'string' },
                                    { name: 'PensionRefNum', type: 'string' },
                                    { name: 'OvertimeRate', type: 'string' },
                                    { name: 'ThresholdID', type: 'string' }
                        ],
             id: "GradeId",
             url: url,
             updaterow: function (rowid, rowdata, commit) {
                 //sync with the server and send the update command
                 rowdata.GradeId = rowid;
                 $.ajax({
                     cache: false,
                     dataType: 'json',
                     url: 'EmployeeGrade/Update',
                     data: rowdata,
                     type: "POST",
                     success: function (data, status, xhr) {
                         // update command is executed.
                         commit(true);
                     },
                     error: function (jqXHR, textStatus, errorThrown) {
                         alert(errorThrown);
                         commit(false);
                     }
                 });
             }
         };

         var insuranceDataSource = { datatype: "json", datafields: [{ name: 'CategoryID', type: 'string' }, { name: 'Description', type: 'string'}], id: "CategoryID", url: '/Insurance/GetInsuranceCode' };
         var allowanceDataSource = { datatype: "json", datafields: [{ name: 'CategoryID', type: 'string'}], id: "CategoryID", url: '/Allowance/getAllowanceCategoryCode' };
         var pensionDataSource = { datatype: "json", datafields: [{ name: 'PensionRefNum', type: 'string'}], id: "PensionRefNum", url: '/Pension/getPensionCode' };
         var ThresholdDataSource = { datatype: "json", datafields: [{ name: 'ThresholdID', type: 'string'}], id: "ThresholdID", url: '/TaxationThreshold/GetTaxThreshold' };

         var insuranceDataAdapter = new $.jqx.dataAdapter(insuranceDataSource);
         var allowanceDataAdapter = new $.jqx.dataAdapter(allowanceDataSource);
         var pensionDataAdapter = new $.jqx.dataAdapter(pensionDataSource);
         var payeThresholdDataAdapter = new $.jqx.dataAdapter(ThresholdDataSource);

       
         //Set the visibility of  POPUPWINDOWEDIT and POPUPWINDOW to hidden
         document.getElementById("popupwindowEdit").style.visibility = "hidden";
         document.getElementById("popupwindow").style.visibility = "hidden";
         document.getElementById("gradeId").style.visibility ="hidden";

         $("#popupwindow").on('open', function () {
             $("#gradeId").jqxInput('selectAll');
         });

        $("#gradeId").jqxInput({ theme: theme, height: '20px', disabled: true });
        // $("#descript").jqxInput({ theme: theme, height: '20px', disabled: true });
        // $("#salary").jqxInput({ theme: theme, height: '20px', disabled: true });
         $("#Cancel").jqxButton({ theme: theme });
         $("#gradeIdedit").jqxInput({ theme: theme, height: '20px', disabled: true });
         $("#descriptedit").jqxInput({ theme: theme, height: '20px', disabled: false });
         $("#salaryedit").jqxInput({ theme: theme, height: '20px', disabled: false });
         $("#overtimeRate").jqxInput({ theme: theme, height: '20px', disabled: false });

         $("#pensionCode").jqxDropDownList({
             theme: theme, source: pensionDataAdapter,
             selectedIndex: -1, width: '170px', height: '20px',
             promptText: "Pension Code..", dropDownHeight: "50px",
             displayMember: "PensionRefNum", valueMember: "PensionRefNum"
         });

         $("#allowanceCode").jqxDropDownList({
             theme: theme, source: allowanceDataAdapter,
             selectedIndex: -1, width: '170px', height: '20px',
             promptText: "Allowance CODE..", dropDownHeight: "50px",
             displayMember: "CategoryID", valueMember: "CategoryID"
         });

         $("#insuranceCode").jqxDropDownList({
             theme: theme, source: insuranceDataAdapter,
             selectedIndex: -1, width: '170px', height: '20px',
             promptText: "Medical Insurance", dropDownHeight: "80px",
             displayMember: "Description", valueMember: "CategoryID"
         });

         $("#payeThreshold").jqxDropDownList({
             theme: theme, source: payeThresholdDataAdapter,
             selectedIndex: -1, width: '170px', height: '20px',
             promptText: "PAYE", dropDownHeight: "50px",
             displayMember: "ThresholdID", valueMember: "ThresholdID"
         });

         $("#CancelEdit").jqxButton({ theme: theme });
         $("#Delete").jqxButton({ theme: theme });
         $("#OKEdit").jqxButton({ theme: theme });

         $("#Delete").click(function () {

             var row = { GradeId: $("#gradeId").val(), Description: $("#descript").val(), Salary: $("salary").val() };
             var rowID = $('#jqxgrid').jqxGrid('getrowid', editrow);
             //alert(row.DeptID);
             $("#popupwindow").jqxWindow('hide');
             
             _deleteRecord(row.GradeId);
             console.log(row.GradeId);

         });

         $("#OKEdit").click(function () {

             console.log("Controller: " + controller); //for the purpose of debugging the code...

             var datarow = { GradeId: $("#gradeIdedit").val(),
                 GradeName: $("#descriptedit").val(),
                 MinSalary: $("#salaryedit").val(),
                 AllowanceRefNum: $("#allowanceCode").val(),
                 InsuranceCode: $("#insuranceCode").val(),
                 PensionRefNum: $("#pensionCode").val(),
                 OvertimeRate: $("#overtimeRate").val(),
                 ThresholdID: $("#payeThreshold").val()
             };

             var rowID = $('#jqxgrid').jqxGrid('getrowid', editrow);
             //console.log(row.GradeId);
             $("#popupwindowEdit").jqxWindow('hide');

             _editRecord(datarow.GradeId, datarow, controller);

             //$("#jqxgrid").jqxGrid('updaterow', rowID, datarow);
             $("#jqxgrid").jqxGrid('updatebounddata');

             //console.log("UPDATE method called");
             title ="";


         });

         var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties) {
             if (value < 20) {
                 return '<span style="margin: 4px; float: ' + columnproperties.cellsalign + '; color: #ff0000;">' + value + '</span>';
             }
             else {
                 return '<span style="margin: 4px; float: ' + columnproperties.cellsalign + '; color: #008000;">' + value + '</span>';
             }
         }


         var dataAdapter = new $.jqx.dataAdapter(source);

         //_createFormElements(title, theme, dataAdapter)

         //instead of using the main window of the clicked menu item selected to popup, I have made the grid load as 
         //static window
         //the _loadGrid function is called
         _loadGrid(dataAdapter);

     });

</script>

<!--<div id="window">
     <div>
       <div id="windowHeader"></div>
         <div>-->
           
           <div id="jqxgrid"></div>

   
         <!--</div>
       
         
     </div>
     
</div>-->

@Html.Partial("_viewEmployeeGrade")


    